WEBFLOW_API_TOKEN=your_webflow_api_token
COLLECTION_ID=6532079a82fc6cc93f6fe9cc
LOCATIONS_COLLECTION_ID=6548442b636d8d215314f5fe
APP_PASSWORD=your_password_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
